<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>This is John's Form Demo</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <header>
    <h1>Our Website</h1>
    <!-- Pull in the nav bar parital -->
    <!-- Pull in the shopping cart icon parital -->
  </header>
  <main>
    <div>
      @RenderBody()
    </div>
  </main>
  <footer>
    &copy; 2021 John
  </footer>
  <script src="/js/site.js"></script>
</body>
</html>
